APP_NAME = Forgejo: Beyond coding. We Forge.
RUN_USER = git
WORK_PATH = /srv/git/forgejo

[repository]
ROOT = /srv/git/forgejo/gitea-repositories
SCRIPT_TYPE = bash
DETECTED_CHARSETS_ORDER = UTF-8,UTF-16BE,UTF-16LE,UTF-32BE,UTF-32LE,ISO-8859,windows-1252,ISO-8859,windows-1250,ISO-8859,ISO-8859,ISO-8859,windows-1253,ISO-8859,windows-1255,ISO-8859,windows-1251,windows-1256,KOI8-R,ISO-8859,windows-1254,Shift_JIS,GB18030,EUC-JP,EUC-KR,Big5,ISO-2022,ISO-2022,ISO-2022,IBM424_rtl,IBM424_ltr,IBM420_rtl,IBM420_ltr
FORCE_PRIVATE = false
DEFAULT_PRIVATE = last
DEFAULT_PUSH_CREATE_PRIVATE = true
MAX_CREATION_LIMIT = -1
PREFERRED_LICENSES = Apache-2.0,MIT
DISABLE_HTTP_GIT = false
USE_COMPAT_SSH_URI = true
GO_GET_CLONE_URL_PROTOCOL = https
DEFAULT_CLOSE_ISSUES_VIA_COMMITS_IN_ANY_BRANCH = false
ENABLE_PUSH_CREATE_USER = false
ENABLE_PUSH_CREATE_ORG = false
DEFAULT_REPO_UNITS = repo.code,repo.releases,repo.issues,repo.pulls,repo.wiki,repo.projects,repo.packages,repo.actions
DEFAULT_FORK_REPO_UNITS = repo.code,repo.pulls
PREFIX_ARCHIVE_FILES = true
DISABLE_MIGRATIONS = false
DISABLE_STARS = false
DISABLE_FORKS = false
DEFAULT_BRANCH = main
ALLOW_ADOPTION_OF_UNADOPTED_REPOSITORIES = false
ALLOW_DELETION_OF_UNADOPTED_REPOSITORIES = false
DISABLE_DOWNLOAD_SOURCE_ARCHIVES = false
ALLOW_FORK_WITHOUT_MAXIMUM_LIMIT = true

[repository.editor]
LINE_WRAP_EXTENSIONS = .txt,.md,.markdown,.mdown,.mkd,.livemd
PREVIEWABLE_FILE_MODES = markdown

[repository.pull-request]
WORK_IN_PROGRESS_PREFIXES = WIP:,[WIP]
CLOSE_KEYWORDS = close,closes,closed,fix,fixes,fixed,resolve,resolves,resolved
REOPEN_KEYWORDS = reopen,reopens,reopened
DEFAULT_MERGE_STYLE = merge
DEFAULT_MERGE_MESSAGE_COMMITS_LIMIT = 50
DEFAULT_MERGE_MESSAGE_SIZE = 5120
DEFAULT_MERGE_MESSAGE_ALL_AUTHORS = false
DEFAULT_MERGE_MESSAGE_MAX_APPROVERS = 10
DEFAULT_MERGE_MESSAGE_OFFICIAL_APPROVERS_ONLY = true
DEFAULT_UPDATE_STYLE = merge
POPULATE_SQUASH_COMMENT_WITH_COMMIT_MESSAGES = false
ADD_CO_COMMITTER_TRAILERS = true
TEST_CONFLICTING_PATCHES_WITH_GIT_APPLY = false
RETARGET_CHILDREN_ON_MERGE = true

[repository.issue]
LOCK_REASONS = Too heated,Off-topic,Spam,Resolved
MAX_PINNED = 3

[repository.upload]
ENABLED = true
TEMP_PATH = /srv/git/forgejo/data/tmp/uploads
FILE_MAX_SIZE = 50
MAX_FILES = 5

[repository.release]
DEFAULT_PAGING_NUM = 10

[repository.signing]
FORMAT = openpgp
SIGNING_KEY = default
DEFAULT_TRUST_MODEL = collaborator
INITIAL_COMMIT = always
CRUD_ACTIONS = pubkey,twofa,parentsigned
WIKI = never
MERGES = pubkey,twofa,basesigned,commitssigned

[repository.local]
LOCAL_COPY_PATH = /srv/git/forgejo/data/tmp/local-repo

[repository.mimetype_mapping]
.apk = application/vnd.android.package-archive

[badges]
ENABLED = true
GENERATOR_URL_TEMPLATE = https://img.shields.io/badge/{{ '{{' }}.label{{ '}}' }}-{{ '{{' }}.text{{ '}}' }}-{{ '{{' }}.color{{ '}}' }}

[cors]
ENABLED = false
ALLOW_DOMAIN = *
METHODS = GET,HEAD,POST,PUT,PATCH,DELETE,OPTIONS
MAX_AGE = 10m
ALLOW_CREDENTIALS = false
HEADERS = Content-Type,User-Agent
X_FRAME_OPTIONS = SAMEORIGIN

[ui]
EXPLORE_PAGING_NUM = 20
ISSUE_PAGING_NUM = 20
REPO_SEARCH_PAGING_NUM = 20
MEMBERS_PAGING_NUM = 20
FEED_MAX_COMMIT_NUM = 5
FEED_PAGING_NUM = 20
SITEMAP_PAGING_NUM = 20
PACKAGES_PAGING_NUM = 20
GRAPH_MAX_COMMIT_NUM = 100
CODE_COMMENT_LINES = 4
MAX_DISPLAY_FILE_SIZE = 8388608
AMBIGUOUS_UNICODE_DETECTION = true
SHOW_USER_EMAIL = true
DEFAULT_THEME = forgejo-auto
THEMES = forgejo-auto,forgejo-light,forgejo-dark,gitea-auto,gitea-light,gitea-dark,forgejo-auto-deuteranopia-protanopia,forgejo-light-deuteranopia-protanopia,forgejo-dark-deuteranopia-protanopia,forgejo-auto-tritanopia,forgejo-light-tritanopia,forgejo-dark-tritanopia
REACTIONS = +1,-1,laugh,hooray,confused,heart,rocket,eyes
REACTION_MAX_USER_NUM = 10
CUSTOM_EMOJIS = gitea,codeberg,gitlab,git,github,gogs,forgejo
DEFAULT_SHOW_FULL_NAME = false
SEARCH_REPO_DESCRIPTION = true
ONLY_SHOW_RELEVANT_REPOS = false
EXPLORE_PAGING_DEFAULT_SORT = recentupdate
PREFERRED_TIMESTAMP_TENSE = mixed

[ui.admin]
USER_PAGING_NUM = 50
REPO_PAGING_NUM = 50
NOTICE_PAGING_NUM = 25
ORG_PAGING_NUM = 50

[ui.user]
REPO_PAGING_NUM = 15

[ui.meta]
AUTHOR = Forgejo - Beyond coding. We forge.
DESCRIPTION = Forgejo is a self-hosted lightweight software forge. Easy to install and low maintenance, it just does the job.
KEYWORDS = git,forge,forgejo

[ui.notification]
MIN_TIMEOUT = 10s
MAX_TIMEOUT = 60s
TIMEOUT_STEP = 10s
EVENT_SOURCE_UPDATE_TIME = 10s

[ui.svg]
ENABLE_RENDER = true

[ui.csv]
MAX_FILE_SIZE = 524288
MAX_ROWS = 2500

[markdown]
ENABLE_HARD_LINE_BREAK_IN_COMMENTS = true
ENABLE_HARD_LINE_BREAK_IN_DOCUMENTS = false
FILE_EXTENSIONS = .md,.markdown,.mdown,.mkd,.livemd
ENABLE_MATH = true

[server]
PROTOCOL = http
USE_PROXY_PROTOCOL = false
PROXY_PROTOCOL_TLS_BRIDGING = false
PROXY_PROTOCOL_HEADER_TIMEOUT = 5s
PROXY_PROTOCOL_ACCEPT_UNKNOWN = false
DOMAIN = localhost
ROOT_URL = %(PROTOCOL)s://%(DOMAIN)s:%(HTTP_PORT)s/
HTTP_ADDR = 0.0.0.0
HTTP_PORT = 3000
REDIRECT_OTHER_PORT = false
PORT_TO_REDIRECT = 80
REDIRECTOR_USE_PROXY_PROTOCOL = %(USE_PROXY_PROTOCOL)s
SSL_MIN_VERSION = TLSv1.2
SSL_CURVE_PREFERENCES = X25519,P256
SSL_CIPHER_SUITES = ecdhe_ecdsa_with_aes_256_gcm_sha384,ecdhe_rsa_with_aes_256_gcm_sha384,ecdhe_ecdsa_with_aes_128_gcm_sha256,ecdhe_rsa_with_aes_128_gcm_sha256,ecdhe_ecdsa_with_chacha20_poly1305,ecdhe_rsa_with_chacha20_poly1305
PER_WRITE_TIMEOUT = 30s
PER_WRITE_PER_KB_TIMEOUT = 30s
UNIX_SOCKET_PERMISSION = 0666
LOCAL_USE_PROXY_PROTOCOL = %(USE_PROXY_PROTOCOL)s
DISABLE_SSH = false
START_SSH_SERVER = false
SSH_SERVER_USE_PROXY_PROTOCOL = false
BUILTIN_SSH_SERVER_USER = %(RUN_USER)s
SSH_DOMAIN = %(DOMAIN)s
SSH_USER = %(BUILTIN_SSH_SERVER_USER)s
SSH_PORT = 22
SSH_LISTEN_PORT = %(SSH_PORT)s
SSH_CREATE_AUTHORIZED_KEYS_FILE = true
SSH_CREATE_AUTHORIZED_PRINCIPALS_FILE = true
SSH_SERVER_CIPHERS = chacha20-poly1305@openssh.com,aes128-ctr,aes192-ctr,aes256-ctr,aes128-gcm@openssh.com,aes256-gcm@openssh.com
SSH_SERVER_KEY_EXCHANGES = curve25519-sha256,ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group14-sha256,diffie-hellman-group14-sha1
SSH_SERVER_MACS = hmac-sha2-256-etm@openssh.com,hmac-sha2-256,hmac-sha1
SSH_AUTHORIZED_KEYS_BACKUP = false
SSH_AUTHORIZED_PRINCIPALS_ALLOW = email,username
SSH_AUTHORIZED_PRINCIPALS_BACKUP = true
SSH_EXPOSE_ANONYMOUS = false
SSH_AUTHORIZED_KEYS_COMMAND_TEMPLATE = {{ '{{' }}.AppPath{{ '}}' }} --config={{ '{{' }}.CustomConf{{ '}}' }} serv key-{{ '{{' }}.Key.ID{{ '}}' }}
SSH_PER_WRITE_TIMEOUT = 30s
SSH_PER_WRITE_PER_KB_TIMEOUT = 30s
MINIMUM_KEY_SIZE_CHECK = false
OFFLINE_MODE = true
ENABLE_ACME = false
ACME_ACCEPTTOS = false
ACME_DIRECTORY = /etc/forgejo/https
STATIC_ROOT_PATH = /srv/git/forgejo
APP_DATA_PATH = /srv/git/forgejo/data
ENABLE_GZIP = false
ENABLE_PPROF = false
PPROF_DATA_PATH = /srv/git/forgejo/data/tmp/pprof
LANDING_PAGE = home
LFS_START_SERVER = false
LFS_JWT_SECRET = {{ _test_lfs_jwt_secret }}
LFS_HTTP_AUTH_EXPIRY = 24h
LFS_MAX_FILE_SIZE = 0
LFS_LOCKS_PAGING_NUM = 50
LFS_MAX_BATCH_SIZE = 0
ALLOW_GRACEFUL_RESTARTS = true
GRACEFUL_HAMMER_TIME = 60s
STARTUP_TIMEOUT = 0
STATIC_CACHE_TIME = 6h

[database]
DB_TYPE = sqlite3
PATH = /srv/git/forgejo/data/forgejo.db
SQLITE_TIMEOUT = 500
ITERATE_BUFFER_SIZE = 50
LOG_SQL = false
DB_RETRIES = 10
DB_RETRY_BACKOFF = 3s
MAX_IDLE_CONNS = 2
CONN_MAX_LIFETIME = 3s
CONN_MAX_IDLETIME = 0
MAX_OPEN_CONNS = 100
AUTO_MIGRATION = true
SLOW_QUERY_THRESHOLD = 5s

[indexer]
ISSUE_INDEXER_TYPE = bleve
ISSUE_INDEXER_PATH = /srv/git/forgejo/indexers/issues.bleve
ISSUE_INDEXER_NAME = gitea_issues
STARTUP_TIMEOUT = 30s
REPO_INDEXER_ENABLED = false
REPO_INDEXER_REPO_TYPES = sources,forks,mirrors,templates
REPO_INDEXER_TYPE = bleve
REPO_INDEXER_PATH = /srv/git/forgejo/indexers/repos.bleve
REPO_INDEXER_NAME = gitea_codes
REPO_INDEXER_EXCLUDE_VENDORED = true
MAX_FILE_SIZE = 1048576

[queue]
TYPE = redis
DATADIR = /srv/git/forgejo/data/queues/common
LENGTH = 100000
BATCH_LENGTH = 20
CONN_STR = redis://127.0.0.1:6379/0
QUEUE_NAME = _queue
SET_NAME = _unique
MAX_WORKERS = -1

[queue.mail]
SET_NAME = _mail

[admin]
DISABLE_REGULAR_ORG_CREATION = false
DEFAULT_EMAIL_NOTIFICATIONS = enabled
SEND_NOTIFICATION_EMAIL_ON_NEW_USER = false

[security]
INSTALL_LOCK = false
SECRET_KEY = {{ _test_secret_key }}
INTERNAL_TOKEN = {{ _test_security_internal_token }}
LOGIN_REMEMBER_DAYS = 31
COOKIE_REMEMBER_NAME = gitea_incredible
REVERSE_PROXY_AUTHENTICATION_USER = X-WEBAUTH-USER
REVERSE_PROXY_AUTHENTICATION_EMAIL = X-WEBAUTH-EMAIL
REVERSE_PROXY_AUTHENTICATION_FULL_NAME = X-WEBAUTH-FULLNAME
REVERSE_PROXY_LIMIT = 1
REVERSE_PROXY_TRUSTED_PROXIES = 127.0.0.0/8,::1/128
MIN_PASSWORD_LENGTH = 8
IMPORT_LOCAL_PATHS = false
DISABLE_GIT_HOOKS = true
DISABLE_WEBHOOKS = false
ONLY_ALLOW_PUSH_IF_GITEA_ENVIRONMENT_SET = true
PASSWORD_COMPLEXITY = off
PASSWORD_HASH_ALGO = pbkdf2_hi
CSRF_COOKIE_HTTP_ONLY = true
PASSWORD_CHECK_PWN = false
SUCCESSFUL_TOKENS_CACHE_SIZE = 20
DISABLE_QUERY_AUTH_TOKEN = true

[camo]
ENABLED = false

[openid]
ENABLE_OPENID_SIGNIN = true
ENABLE_OPENID_SIGNUP = true

[oauth2_client]
REGISTER_EMAIL_CONFIRM = false
ENABLE_AUTO_REGISTRATION = false
USERNAME = nickname
UPDATE_AVATAR = false
ACCOUNT_LINKING = login

[service]
ACTIVE_CODE_LIVE_MINUTES = 180
RESET_PASSWD_CODE_LIVE_MINUTES = 180
REGISTER_EMAIL_CONFIRM = false
REGISTER_MANUAL_CONFIRM = false
EMAIL_DOMAIN_BLOCK_DISPOSABLE = false
DISABLE_REGISTRATION = false
ALLOW_ONLY_INTERNAL_REGISTRATION = false
ALLOW_ONLY_EXTERNAL_REGISTRATION = false
REQUIRE_SIGNIN_VIEW = false
ENABLE_NOTIFY_MAIL = false
ENABLE_BASIC_AUTHENTICATION = true
ENABLE_REVERSE_PROXY_AUTHENTICATION = false
ENABLE_REVERSE_PROXY_AUTHENTICATION_API = false
ENABLE_REVERSE_PROXY_AUTO_REGISTRATION = false
ENABLE_REVERSE_PROXY_EMAIL = false
ENABLE_REVERSE_PROXY_FULL_NAME = false
ENABLE_CAPTCHA = false
REQUIRE_CAPTCHA_FOR_LOGIN = false
REQUIRE_EXTERNAL_REGISTRATION_CAPTCHA = false
REQUIRE_EXTERNAL_REGISTRATION_PASSWORD = false
CAPTCHA_TYPE = image
RECAPTCHA_URL = https://www.google.com/recaptcha/
MCAPTCHA_URL = https://demo.mcaptcha.org
DEFAULT_KEEP_EMAIL_PRIVATE = false
DEFAULT_ALLOW_CREATE_ORGANIZATION = true
DEFAULT_USER_IS_RESTRICTED = false
ALLOW_DOTS_IN_USERNAMES = true
DEFAULT_USER_VISIBILITY = public
ALLOWED_USER_VISIBILITY_MODES = public,limited,private
DEFAULT_ORG_VISIBILITY = public
DEFAULT_ORG_MEMBER_VISIBLE = false
DEFAULT_ENABLE_DEPENDENCIES = true
ALLOW_CROSS_REPOSITORY_DEPENDENCIES = true
USER_LOCATION_MAP_URL = https://www.openstreetmap.org/search?query=
ENABLE_USER_HEATMAP = true
ENABLE_TIMETRACKING = true
DEFAULT_ENABLE_TIMETRACKING = true
DEFAULT_ALLOW_ONLY_CONTRIBUTORS_TO_TRACK_TIME = true
NO_REPLY_ADDRESS = noreply.
SHOW_REGISTRATION_BUTTON = true
ENABLE_INTERNAL_SIGNIN = true
SHOW_MILESTONES_DASHBOARD_PAGE = true
AUTO_WATCH_NEW_REPOS = true
AUTO_WATCH_ON_CHANGES = false
USER_DELETE_WITH_COMMENTS_MAX_TIME = 0
VALID_SITE_URL_SCHEMES = http,https
USERNAME_COOLDOWN_PERIOD = 0
MAX_USER_REDIRECTS = 0

[service.explore]
REQUIRE_SIGNIN_VIEW = false
DISABLE_USERS_PAGE = false
DISABLE_ORGANIZATIONS_PAGE = false
DISABLE_CODE_PAGE = false

[ssh.minimum_key_sizes]
ED25519 = 256
ECDSA = 256
RSA = 3071
DSA = -1

[webhook]
QUEUE_LENGTH = 1000
DELIVER_TIMEOUT = 5
ALLOWED_HOST_LIST = external
SKIP_TLS_VERIFY = false
PAGING_NUM = 10
PAYLOAD_COMMIT_LIMIT = 15

[mailer]
ENABLED = false
ENABLE_HELO = true
FORCE_TRUST_SERVER_CERT = false
USE_CLIENT_CERT = false
FROM_DISPLAY_NAME_FORMAT = {{ '{{' }} .DisplayName {{ '}}' }}
SEND_AS_PLAIN_TEXT = false
SENDMAIL_PATH = sendmail
SENDMAIL_TIMEOUT = 5m
SENDMAIL_CONVERT_CRLF = true

[mailer.override_header]
Content-Type = text/html; charset=utf-8
Reply-To = test@example.com, test2@example.com

[email.incoming]
ENABLED = false
USE_TLS = false
SKIP_TLS_VERIFY = true
MAILBOX = INBOX
DELETE_HANDLED_MESSAGE = true
MAXIMUM_MESSAGE_SIZE = 10485760

[cache]
ADAPTER = memory
INTERVAL = 60
ITEM_TTL = 16h

[cache.last_commit]
ITEM_TTL = 8760h
COMMITS_COUNT = 1000

[session]
PROVIDER = memory
PROVIDER_CONFIG = /srv/git/forgejo/data/sessions
COOKIE_NAME = i_like_gitea
COOKIE_SECURE = true
GC_INTERVAL_TIME = 86400
SESSION_LIFE_TIME = 86400
SAME_SITE = lax

[picture]
REPOSITORY_AVATAR_FALLBACK = none
REPOSITORY_AVATAR_FALLBACK_IMAGE = /img/repo_default.png
AVATAR_MAX_WIDTH = 4096
AVATAR_MAX_HEIGHT = 4096
AVATAR_RENDERED_SIZE_FACTOR = 2
AVATAR_MAX_FILE_SIZE = 1048576
AVATAR_MAX_ORIGIN_SIZE = 262144
GRAVATAR_SOURCE = gravatar
DISABLE_GRAVATAR = false
ENABLE_FEDERATED_AVATAR = false

[project]
PROJECT_BOARD_BASIC_KANBAN_TYPE = To Do,In Progress,Done
PROJECT_BOARD_BUG_TRIAGE_TYPE = Needs Triage,High Priority,Low Priority,Closed

[attachment]
ENABLED = true
ALLOWED_TYPES = .avif,.cpuprofile,.csv,.dmp,.docx,.fodg,.fodp,.fods,.fodt,.gif,.gz,.jpeg,.jpg,.json,.jsonc,.log,.md,.mov,.mp4,.odf,.odg,.odp,.ods,.odt,.patch,.pdf,.png,.pptx,.svg,.tgz,.txt,.webm,.webp,.xls,.xlsx,.zip
MAX_SIZE = 2048
MAX_FILES = 5
STORAGE_TYPE = local
PATH = /srv/git/forgejo/data/attachments

[lfs_client]
BATCH_SIZE = 20
BATCH_OPERATION_CONCURRENCY = 8

[log]
ROOT_PATH = /srv/git/forgejo/log
MODE = console
LEVEL = Info
STACKTRACE_LEVEL = None
BUFFER_LEN = 10000
logger.default.MODE = ,
logger.router.MODE = ,
logger.xorm.MODE = ,
ENABLE_SSH_LOG = false

[log.conn]
PROTOCOL = tcp
RECONNECT = false
RECONNECT_ON_MSG = false

[log.console]
COLORIZE = false
FLAGS = journald
LEVEL = Info
MODE = console

[log.file]
COMPRESS = true
COMPRESSION_LEVEL = -1
DAILY_ROTATE = true
LOG_ROTATE = true
MAX_DAYS = 7
MAX_SIZE_SHIFT = 28

[cron]
ENABLED = false
RUN_AT_START = false
NOTICE_ON_SUCCESS = false

[cron.archive_cleanup]
ENABLED = true
RUN_AT_START = true
NOTICE_ON_SUCCESS = false
SCHEDULE = @midnight
OLDER_THAN = 24h

[cron.update_mirrors]
ENABLED = true
RUN_AT_START = false
NOTICE_ON_SUCCESS = false
SCHEDULE = @every 10m
PULL_LIMIT = 50
PUSH_LIMIT = 50

[cron.repo_health_check]
ENABLED = true
RUN_AT_START = false
NOTICE_ON_SUCCESS = false
SCHEDULE = @midnight
TIMEOUT = 60s

[cron.check_repo_stats]
ENABLED = true
RUN_AT_START = true
NOTICE_ON_SUCCESS = false
SCHEDULE = @midnight

[cron.cleanup_hook_task_table]
ENABLED = true
RUN_AT_START = false
SCHEDULE = @midnight
CLEANUP_TYPE = OlderThan
OLDER_THAN = 168h
NUMBER_TO_KEEP = 10

[cron.cleanup_packages]
ENABLED = true
RUN_AT_START = true
NOTICE_ON_SUCCESS = false
SCHEDULE = @midnight
OLDER_THAN = 24h

[cron.update_migration_poster_id]
ENABLED = true
RUN_AT_START = true
NOTICE_ON_SUCCESS = false
SCHEDULE = @midnight

[cron.sync_external_users]
ENABLED = true
RUN_AT_START = false
NOTICE_ON_SUCCESS = false
SCHEDULE = @midnight
UPDATE_EXISTING = true

[cron.cleanup_actions]
ENABLED = true
RUN_AT_START = true
SCHEDULE = @midnight

[cron.git_gc_repos]
ENABLED = false
RUN_AT_START = false
NOTICE_ON_SUCCESS = false
SCHEDULE = @every 72h
TIMEOUT = 60s

[cron.resync_all_sshkeys]
ENABLED = false
RUN_AT_START = false
NOTICE_ON_SUCCESS = false
SCHEDULE = @every 72h

[cron.resync_all_hooks]
ENABLED = false
RUN_AT_START = false
NOTICE_ON_SUCCESS = false
SCHEDULE = @every 72h

[cron.reinit_missing_repos]
ENABLED = false
RUN_AT_START = false
NOTICE_ON_SUCCESS = false
SCHEDULE = @every 72h

[cron.delete_missing_repos]
ENABLED = false
RUN_AT_START = false
NOTICE_ON_SUCCESS = false
SCHEDULE = @every 72h

[cron.delete_generated_repository_avatars]
ENABLED = false
RUN_AT_START = false
NOTICE_ON_SUCCESS = false
SCHEDULE = @every 72h

[cron.delete_old_actions]
ENABLED = false
RUN_AT_START = false
NOTICE_ON_SUCCESS = false
SCHEDULE = @every 168h
OLDER_THAN = 8760h

[cron.update_checker]
ENABLED = true
RUN_AT_START = false
ENABLE_SUCCESS_NOTICE = false
SCHEDULE = @every 168h
HTTP_ENDPOINT = https://dl.gitea.com/gitea/version.json
DOMAIN_ENDPOINT = release.forgejo.org

[cron.delete_old_system_notices]
ENABLED = false
RUN_AT_START = false
NO_SUCCESS_NOTICE = false
SCHEDULE = @every 168h
OLDER_THAN = 8760h

[cron.gc_lfs]
ENABLED = false
RUN_AT_START = false
SCHEDULE = @every 24h
OLDER_THAN = 168h
LAST_UPDATED_MORE_THAN_AGO = 72h
NUMBER_TO_CHECK_PER_REPO = 100
PROPORTION_TO_CHECK_PER_REPO = 0.6

[cron.delete_inactive_accounts]
ENABLED = false
RUN_AT_START = false
NOTICE_ON_SUCCESS = false
SCHEDULE = @annually
OLDER_THAN = 168h

[cron.deleted_branches_cleanup]
ENABLED = true
RUN_AT_START = true
NOTICE_ON_SUCCESS = false
SCHEDULE = @midnight
OLDER_THAN = 24h

[cron.delete_repo_archives]
ENABLED = false
RUN_AT_START = false
NOTICE_ON_SUCCESS = false
SCHEDULE = @annually

[git]
HOME_PATH = /srv/git/forgejo/data/home
DISABLE_DIFF_HIGHLIGHT = false
MAX_GIT_DIFF_LINES = 1000
MAX_GIT_DIFF_LINE_CHARACTERS = 5000
MAX_GIT_DIFF_FILES = 100
COMMITS_RANGE_SIZE = 50
BRANCHES_RANGE_SIZE = 20
VERBOSE_PUSH = true
VERBOSE_PUSH_DELAY = 5s
ENABLE_AUTO_GIT_WIRE_PROTOCOL = true
PULL_REQUEST_PUSH_MESSAGE = true
LARGE_OBJECT_THRESHOLD = 1048576
DISABLE_CORE_PROTECT_NTFS = false
DISABLE_PARTIAL_CLONE = false

[git.timeout]
DEFAULT = 360
MIGRATE = 600
MIRROR = 300
CLONE = 300
PULL = 300
GC = 60
GREP = 2

[git.config]

[metrics]
ENABLED = false
ENABLED_ISSUE_BY_LABEL = false
ENABLED_ISSUE_BY_REPOSITORY = false

[api]
ENABLE_SWAGGER = true
MAX_RESPONSE_ITEMS = 50
DEFAULT_PAGING_NUM = 30
DEFAULT_GIT_TREES_PER_PAGE = 1000
DEFAULT_MAX_BLOB_SIZE = 10485760

[oauth2]
ENABLED = true
JWT_SIGNING_ALGORITHM = RS256
JWT_SIGNING_PRIVATE_KEY_FILE = /srv/git/forgejo/data/jwt/private.pem
JWT_SECRET = {{ _test_lfs_jwt_secret }}
ACCESS_TOKEN_EXPIRATION_TIME = 3600
REFRESH_TOKEN_EXPIRATION_TIME = 730
INVALIDATE_REFRESH_TOKENS = false
MAX_TOKEN_LENGTH = 32767
DEFAULT_APPLICATIONS = git-credential-oauth,git-credential-manager,tea

[i18n]
LANGS = en-US,zh-CN
NAMES = English,简体中文

[markup]
MERMAID_MAX_SOURCE_CHARACTERS = 5000
FILEPREVIEW_MAX_LINES = 50

[markup.asciidoc]
ENABLED = true
FILE_EXTENSIONS = .adoc,.asciidoc
IS_INPUT_FILE = false
NEED_POSTPROCESS = true
RENDER_COMMAND = asciidoctor --embedded --safe-mode=secure --out-file=- -

[markup.sanitizer.1]
ALLOW_ATTR = class
ELEMENT = span
REGEXP = (info|warning|error)

[markup.sanitizer.asciidoc]
ENABLED = false
FILE_EXTENSIONS = .adoc,.asciidoc
IS_INPUT_FILE = false
RENDER_COMMAND = asciidoc --out-file=- -
RENDER_CONTENT_MODE = sanitized

[markup.sanitizer.asciidoc.rule-1]
ENABLED = true

[highlight.mapping]
.toml = ini

[time]

[migrations]
MAX_ATTEMPTS = 3
RETRY_BACKOFF = 3
ALLOW_LOCALNETWORKS = false
SKIP_TLS_VERIFY = false

[federation]
ENABLED = false
SHARE_USER_STATISTICS = true
MAX_SIZE = 4
SIGNATURE_ENFORCED = true
SIGNATURE_ALGORITHMS = rsa-sha256,rsa-sha512,ed25519
DIGEST_ALGORITHM = SHA-256
GET_HEADERS = (request-target),Date
POST_HEADERS = (request-target),Date,Digest

[packages]
ENABLED = true
CHUNKED_UPLOAD_PATH = /srv/git/forgejo/data/tmp/package-upload
LIMIT_TOTAL_OWNER_COUNT = -1
LIMIT_TOTAL_OWNER_SIZE = -1
LIMIT_SIZE_ALPINE = -1
LIMIT_SIZE_CARGO = -1
LIMIT_SIZE_CHEF = -1
LIMIT_SIZE_COMPOSER = -1
LIMIT_SIZE_CONAN = -1
LIMIT_SIZE_CONDA = -1
LIMIT_SIZE_CONTAINER = -1
LIMIT_SIZE_CRAN = -1
LIMIT_SIZE_DEBIAN = -1
LIMIT_SIZE_GENERIC = -1
LIMIT_SIZE_GO = -1
LIMIT_SIZE_HELM = -1
LIMIT_SIZE_MAVEN = -1
LIMIT_SIZE_NPM = -1
LIMIT_SIZE_NUGET = -1
LIMIT_SIZE_PUB = -1
LIMIT_SIZE_PYPI = -1
LIMIT_SIZE_RPM = -1
LIMIT_SIZE_RUBYGEMS = -1
LIMIT_SIZE_SWIFT = -1
LIMIT_SIZE_VAGRANT = -1
DEFAULT_RPM_SIGN_ENABLED = false
STORAGE_TYPE = local
PATH = /srv/git/forgejo/data/packages

[mirror]
ENABLED = true
DISABLE_NEW_PULL = false
DISABLE_NEW_PUSH = false
DEFAULT_INTERVAL = 8h
MIN_INTERVAL = 10m

[storage]
STORAGE_TYPE = local
PATH = /srv/git/forgejo/data

[actions.artifacts]
MINIO_BASE_PATH = repo-archive/
MINIO_BUCKET = forgejo
MINIO_CHECKSUM_ALGORITHM = default
MINIO_ENDPOINT = localhost:9000
MINIO_INSECURE_SKIP_VERIFY = false
MINIO_LOCATION = us-east-1
MINIO_USE_SSL = false
SERVE_DIRECT = false
STORAGE_TYPE = minio

[repo-archive]
PATH = data/repo-archive
STORAGE_TYPE = local

[storage.my_minio]
MINIO_BASE_PATH = repo-archive/
MINIO_BUCKET = forgejo
MINIO_ENDPOINT = localhost:9000
MINIO_INSECURE_SKIP_VERIFY = false
MINIO_LOCATION = us-east-1
MINIO_USE_SSL = false
STORAGE_TYPE = minio

[quota]
ENABLED = false

[quota.default]
TOTAL = -1

[proxy]
PROXY_ENABLED = false

[actions]
ENABLED = true
DEFAULT_ACTIONS_URL = https://code.forgejo.org
LOG_RETENTION_DAYS = 365
LOG_COMPRESSION = zstd
ARTIFACT_RETENTION_DAYS = 90
ZOMBIE_TASK_TIMEOUT = 10m
ENDLESS_TASK_TIMEOUT = 3h
ABANDONED_JOB_TIMEOUT = 24h
SKIP_WORKFLOW_STRINGS = [skip ci],[ci skip],[no ci],[skip actions],[actions skip]
LIMIT_DISPATCH_INPUTS = 10

[other]
SHOW_FOOTER_VERSION = true
SHOW_FOOTER_TEMPLATE_LOAD_TIME = true
SHOW_FOOTER_POWERED_BY = true
ENABLE_SITEMAP = true
ENABLE_FEED = true

[F3]
ENABLED = false
